# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.mo
*.pot
*.py~
*.sqlite3

# Virtual environment
env/
venv/
ENV/
.venv/

# VSCode
.vscode/

# Secrets
*.env

# Node
node_modules/
